<footer id="footer">
  <div class="container">
    <div class="header-social-links">
      <a href="https://www.behance.net/janekornukh" class="behance"><i class="icofont-behance"></i></a>
      <a href="https://www.instagram.com/ux_rules/" class="instagram"><i class="icofont-instagram"></i></a>
      <a href="https://www.linkedin.com/in/yevheniia-kornukh-10817b196/" class="linkedin"><i class="icofont-linkedin"></i></a>
    </div>
    <br />
    <div><strong><span>Copyright Yevheniia Kornukh 2021</span></strong>. All Rights Reserved</div>
    <div class="credits"></div>
  </div>
</footer>

<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
