<header id="header" class="fixed-top">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <h1 class="logo"><a href="{{ '/' | relative_url }}">JK</a></h1>
    <nav class="nav-menu d-none d-lg-block">
      {% assign nav_active = page.nav_active | default: 'home' %}
      <ul>
        <li class="{% if nav_active == 'home' %}active{% endif %}">
          <a href="{{ '/' | relative_url }}">Home</a>
        </li>
        <li class="{% if nav_active == 'about' %}active{% endif %}">
          <a href="{{ '/#about' | relative_url }}">About</a>
        </li>
        <li class="{% if nav_active == 'resume' %}active{% endif %}">
          <a href="{{ '/#resume' | relative_url }}">Resume</a>
        </li>
        <li class="{% if nav_active == 'portfolio' %}active{% endif %}">
          <a href="{{ '/#portfolio' | relative_url }}">Portfolio</a>
        </li>
        <li class="{% if nav_active == 'contact' %}active{% endif %}">
          <a href="{{ '/#contact' | relative_url }}">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
