.ds{
  background-image: url(../img/projects/DS/DS\ header.png);
  height: 1200px;
  color: white;
}

.quote {
  text-align: center;
  font: 14pt "Helvetica Neu Bold" !important;
  text-decoration-style: wavy;
  color:  #768760;
  font-weight: bold;
}

.table {
text-align: center;
}
.name {
  color: #768760;
 font-style: italic;
 
}

.custom-button {
  display: flex;
  height: var(--el-size-height-sm, 32px);
  padding: var(--padding-2x-compact, 0) var(--padding-cozy, 20px);
  justify-content: center;
  align-items: center;
  gap: var(--padding-2x-cozy, 8px);

  border: none;
  border-radius: var(--el-radius-md, 12px);
  background: var(--el-color-action-secondary, #171D26);
  color: white;
  font: inherit;
  cursor: pointer;
}